{
  "xmpp_account":
    {
      "jid": "user@domain",
      "password": ""
    },
  "save_path": "share",
  "enable_web_api": true,
  "enable_ipv4": true,
  "enable_ipv6": true,
  "enable_upnp": true,
  "enable_natpmp": true
}